# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# --- AI Model & Data (Tránh đẩy file nặng lên GitHub) ---
app/ml/tfidf_model_1.pkl
app/ml/*.csv
*.pkl_1
*.pkl

# --- Django Defaults ---
db.sqlite3
__pycache__/
*.pyc
.env

# Chỉ giữ lại cấu hình thư mục static/media, không đẩy nội dung bên trong
/static/*
!/static/.gitkeep

/media/*
!/media/.gitkeep