# --- Chặn cấu hình cá nhân của PyCharm ---
.idea/
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/

# --- Chặn file model NẶNG (BẮT BUỘC để không bị lỗi 422) ---
app/ml/tfidf_model_1.pkl

# --- Chặn file rác hệ thống và bảo mật ---
__pycache__/
*.pyc
.env

# ĐÃ MỞ KHÓA: db.sqlite3, /media/, /static/ sẽ được đẩy lên hết