<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h2>Đăng ký tài khoản khách hàng</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div style="margin-bottom: 15px;">
                <label>{{ field.label }}</label><br>
                {{ field }}
                {# Không in ra {{ field.help_text }} ở đây nữa #}

                {% if field.errors %}
                    <div style="color: red;">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Đăng ký</button>
    </form>


</body>
</html>